@import '@/styles/2023/variables.scss';

.container {
  position: relative;
  width: 100%;


}

.button {
  z-index: 1;
  position: relative;
  width: 100%;
  display: flex;
  padding: $space-s 0;
  border: none;
  background-color: transparent;
  border-bottom: 2px white solid;
  text-align: start;
  cursor: pointer;

  & h4 {
    font-size: $header-xs;
    color: white;

    @include maxWidth($bp-mobile) {
      font-size: $font-m;
    }
  }

  & svg {
    align-self: center;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    margin-right: $space-m;
    color: white;
  }
}

.content {

  & p {
    z-index: 0;
    position: relative;
    padding: $space-m $space-s $space-l $space-s;
    font-size: $font-l;

    @include maxWidth($bp-mobile) {
      font-size: $font-s;
    }
  }
}

.contentClosed {
  display: none;
}
.iconDown {
  transform: rotate(90deg);
}
