@import '@/styles/2024/variables.scss';

.section {
  width: 100%;
  margin: $space-h 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space-xl;
}

.linksContainer {
  width: 100%;
  max-width: 930px;
  margin: 0 auto;
  padding: 0 $space-xl;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: $space-xl;
}

.faq {
  &Container {
    max-width: 930px;
    width: 100%;
    min-height: 540px;
    margin: $space-xl auto 0;
    padding: 0 $space-l;
  }

  &CollapsibleButton {
    border-color: $color-main !important;
    background-color: $color-background !important;

    & h4 {
      color: $color-main !important;
    }

    & svg {
      color: $color-main !important;
    }
  }
}
