@import '@/styles/2025/variables.scss';

.sencity {
  img {
    width: 120px;
    height: auto;
  }
}

.vention {
    img {
      width: 232px;
      height: auto;

      @include maxWidth($bp-mobile) {
        width: 132px;
        height: auto;
      }
    }
}


.trawell {
    img {
      width: 262px;
      height: auto;

      @include maxWidth($bp-mobile) {
        width: 162px;
        height: auto;
      }
    }
}

.wrs_polsla {
    img {
      width: 210px;
      height: auto;


      @include maxWidth($bp-mobile) {
        width: 160px;
        height: auto;
      }
    }
}

.epam {
    img {
      width: 284px;
      height: auto;
      filter: contrast(80%);

      @include maxWidth($bp-mobile) {
        width: 182px;
        height: auto;
      }
    }
}

.malopolska {
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 380px;
    display: block;
    content: 'Marszałek  Województwa  Małopolskiego';
    font-size: $header-xs;
    color: $color-white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;

    @include maxWidth($bp-mobile) {
      width: 312px;
      font-size: 12px;
    }
  }

  img {
    width: 572px;
    height: auto;

    @include maxWidth($bp-desktop) {
      width: 524px;
      height: auto;
    }

    @include maxWidth($bp-mobile) {
      width: 312px;
      height: auto;
    }
  }
}
