@import '@/styles/2025/variables.scss';

.sencity {
  position: relative;
  img {
    width: 100px;
    height: 400px;
  }
}

.malopolska {
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 380px;
    display: block;
    content: 'Marszałek  Województwa  Małopolskiego';
    font-size: $header-xs;
    color: $color-white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;

    @include maxWidth($bp-mobile) {
      width: 312px;
      font-size: 12px;
    }
  }

  img {
    width: 572px;
    height: auto;

    @include maxWidth($bp-desktop) {
      width: 524px;
      height: auto;
    }

    @include maxWidth($bp-mobile) {
      width: 312px;
      height: auto;
    }
  }
}
