@import '@/styles/2024/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: $space-xl;
  margin: $space-h $space-s;
}

.grid {
  width: 100%;
  display: grid;
  align-items: center;
  text-align: center;
}

.honoraryPartnersGrid {
  padding: $space-xl 0;
  grid-template-columns: 1fr 1fr;

  @include maxWidth($bp-desktop) {
    grid-template-columns: 1fr;
    row-gap: $space-h;
  }

  img {
    width: 572px;
    height: auto;

    @include maxWidth($bp-desktop) {
      width: 472px;
      height: auto;
    }

    @include maxWidth($bp-mobile) {
      width: 272px;
      height: auto;
    }
  }
}

.eventPartnersGrid {
  padding: $space-h 0 $space-xl 0;
  grid-template-columns: 1fr 1fr 1fr;

  @include maxWidth($bp-tablet) {
    grid-template-columns: 1fr;
    gap: $space-xl;
    padding: $space-h 0 0 0;
  }

  div:first-child {
    img {
      width: 232px;
      height: auto;

      @include maxWidth($bp-mobile) {
        width: 132px;
        height: auto;
      }
    }
  }

  div:nth-child(2n) {
    img {
      width: 262px;
      height: auto;

      @include maxWidth($bp-mobile) {
        width: 162px;
        height: auto;
      }
    }
  }

  div:nth-child(3n) {
    img {
      width: 284px;
      height: auto;

      @include maxWidth($bp-mobile) {
        width: 182px;
        height: auto;
      }
    }
  }

  div:nth-child(4n) {
    img {
      width: 284px;
      height: auto;
      filter: contrast(80%);

      @include maxWidth($bp-mobile) {
        width: 182px;
        height: auto;
      }
    }
  }
  div:nth-child(5n) {
    img {
      width: 164px;
      height: auto;
    }
  }
}

.mediaPartnersGrid {
  padding: $space-h 0;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;

  @include maxWidth($bp-desktop) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: $space-h;
  }

  @include maxWidth($bp-mobile) {
    grid-template-columns: 1fr;
    row-gap: $space-h;
  }

  img {
    width: 360px;
    height: auto;

    @include maxWidth($bp-desktop) {
      width: 300px;
      height: auto;
    }

    @include maxWidth($bp-mobile) {
      width: 240px;
      height: auto;
    }
  }
}
