@import '@/styles/2024/variables.scss';

.section {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav {
  padding: $space-s $space-l;
  display: flex;
  justify-content: flex-end;
  gap: $space-xl;
  border-bottom: 4px solid $color-main;
  background-color: $color-black;

  &List {
    display: flex;
    align-items: flex-end;
    gap: $space-xl;

    @include maxWidth($bp-tablet) {
      display: none;
    }
  }

  &Button {
    display: none;
    border: none;
    background-color: transparent;

    @include maxWidth($bp-tablet) {
      display: block;
    }

    svg {
      width: 32px;
      height: 32px;
      min-width: 32px;
      min-height: 32px;
    }
  }
}

.mobileNav {
  display: none;
  padding: $space-l;
  border-bottom: 4px solid $color-main;
  background-color: $color-black;

  &List {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $space-xl;
  }

  &Button {
    position: absolute;
    z-index: 2;
    top: 8px;
    right: 24px;
  }
}

.menuOpen {
  display: none;

  @include maxWidth($bp-tablet) {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 4px solid $color-main;
    border-bottom: 4px solid $color-main;
  }
}

.link {
  font-size: $font-l;
  color: $color-white;

  &:hover {
    transition: 0.3s;
    color: $color-main;
  }

  @include maxWidth($bp-tablet) {
    font-size: $header-s;
  }
}
