@import '@/styles/2024/variables.scss';

.link {
  font-size: $font-l;
  color: $color-white;

  &:hover {
    transition: 0.3s;
    color: $color-main;
  }

  @include maxWidth($bp-tablet) {
    font-size: $header-s;
  }
}
