@import '@/styles/2023/variables.scss';

.slide {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  min-height: 280px;
  padding: $space-l $space-xl;
  background-color: rgba($color-black, 0.7);

  h2 {
    margin-bottom: $space-m;
    text-align: center;
    font-size: $header-l;
  }

  p {
    width: 60ch;
    font-size: $font-l;
  }
}

@media only screen and (max-width: $bp-tablet) {
  .slide {
    h2 {
      font-size: $header-m;
    }

    p {
      width: 48ch;
      font-size: $font-m;
    }
  }
}

@media only screen and (max-width: $bp-mobile) {
  .slide {
    width: 100%;
    padding: $space-m $space-l;

    h2 {
      font-size: $header-xs;
    }

    p {
      width: 100%;
      max-width: 48ch;
      margin: 0 auto;
      font-size: $font-s;
    }
  }
}
